body {
  font-family: 'Lato', sans-serif; }

a {
  color: #ecf0f1;
  cursor: pointer; }
  a:hover {
    text-decoration: none;
    color: #ecf0f1;
    border-bottom: 2px solid #ecf0f1; }
  a:visited {
    color: #ecf0f1; }

.btn-default {
  background-color: #34495e;
  color: #ecf0f1;
  width: 20vh;
  height: 35px; }
  .btn-default.alt {
    background-color: #ccc;
    color: #222; }

.link-button {
  border: 2px solid #ecf0f1;
  background-color: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  transition: background-color 1s ease; }
  .link-button:hover {
    background-color: #ecf0f1; }
    .link-button:hover a {
      border: none;
      -webkit-transition: color 1s ease;
      -moz-transition: color 1s ease;
      -ms-transition: color 1s ease;
      transition: color 1s ease;
      color: #34495e; }

header {
  background-image: url("../images/img-bg2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 65vh;
  padding: 5vh 1vh; }
  header nav {
    text-align: right; }
    header nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-top: 5vh; }
      header nav ul li {
        display: inline;
        padding: 1.5vh 3vh;
        font-size: 1.25em;
        cursor: pointer; }
        header nav ul li.link-button {
          margin-left: 3vh; }
  header .tagline {
    margin-top: 7vh; }
    header .tagline h1 {
      font-size: 6em;
      color: #ecf0f1;
      margin-bottom: 3vh;
      font-family: 'Dancing Script', cursive; }
    header .tagline p {
      font-size: 2em;
      color: #ccc; }
    header .tagline .link-button {
      max-width: 240px;
      padding: 1vh;
      font-size: 2em;
      text-align: center;
      margin-top: 7vh;
      cursor: pointer; }

.content {
  padding: 8vh 0; }
  .content:nth-child(odd) {
    background: #dfddd8; }
  .content.services div {
    margin: 3vh 0 4vh; }
  .content.services i {
    border: 3px solid;
    border-radius: 100%;
    padding: 27px;
    width: 120px; }
  .content.services ul {
    padding: 0;
    text-align: left;
    margin-top: 4vh;
    list-style: none; }
    .content.services ul li {
      font-size: 1.2em;
      background: #34495E;
      margin: 1vh;
      padding: 1vh;
      color: #fff;
      border-radius: 1vh;
      text-align: center;
      font-weight: 300; }
  .content section h2 {
    font-size: 2.5em;
    margin-bottom: 5vh;
    margin-top: 0;
    color: #34495e;
    text-align: center; }
  .content section p {
    font-size: 1.25em; }
  .content section a {
    color: #34495e;
    font-weight: 600; }
  .content section h3 {
    margin-top: 0; }
  .content section.contact i {
    width: 45px;
    float: left;
    margin-top: 5px; }
    .content section.contact i.fa-mobile {
      margin-top: 3px;
      font-size: 29px;
      padding-left: 4px; }
  .content section.contact .map-row h3 {
    font-weight: 300;
    font-size: 2em;
    margin: 1vh 0; }
  .content section.contact .row {
    margin: 2vh 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2vh; }
    .content section.contact .row:nth-last-child(1) {
      border-bottom: none; }
    .content section.contact .row .general {
      font-size: 1.25em;
      margin-bottom: 2vh; }
    .content section.contact .row .image {
      margin: 2vh 0; }
      .content section.contact .row .image.map {
        height: 290px; }
    .content section.contact .row .description {
      padding-left: 0;
      font-size: 1.25em;
      margin: 2vh 0; }
    .content section.contact .row .inner {
      border-bottom: none; }
      .content section.contact .row .inner .title {
        font-weight: 300; }
  .content.faq .accordion dt,
  .content.faq .accordion dd {
    font-size: 1.25em; }

footer {
  background: #333;
  color: #fff;
  padding: 1vh;
  text-align: right;
  font-weight: 300; }

@media (max-width: 991px) {
  header .tagline {
    padding: 0 5vh;
    margin-top: 10vh; }
    header .tagline h1 {
      font-size: 8.5vw; }
    header .tagline p {
      font-size: 1.5em; }

  .services .service {
    margin: 5vh 0; } }
@media (max-width: 500px) {
  .navigation ul li:not(#contact-button) {
    display: none; }

  header .tagline {
    padding: 0 6vh 5vh; } }

/*# sourceMappingURL=style.css.map */
